@model IEnumerable<ClinicApp.Models.Prescription>

<h2>Prescriptions</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Add New Prescription</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Entry No</th>
            <th>Patient Name</th>
            <th>Disease</th>
            <th>Consult By</th>
            <th>Total Amount</th>
            <th>Next Visit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EntryNo</td>
            <td>@item.PatientName</td>
            <td>@item.Disease</td>
            <td>@item.ConsultBy</td>
            <td>@item.TotalAmount?.ToString("C")</td>
            <td>@item.NextVisitDate?.ToString("dd/MM/yyyy")</td>
            <td>
             <a asp-action="Details" asp-route-id="@item.PrescriptionId" class="btn btn-warning btn-sm">
                 <img src="~/images/details.jpg" alt="Details" style="width:20px; height:20px;" /></a>
                <a asp-action="Edit" asp-route-id="@item.PrescriptionId" class="btn btn-warning btn-sm">
                 <img src="~/images/edit.jpg" alt="Edit" style="width:20px; height:20px;" /></a>
                
                <a asp-action="Delete" asp-route-id="@item.PrescriptionId" class="btn btn-danger btn-sm">
                  <img src="~/images/delete.jpg" alt="Delete" style="width:20px; height:20px;" /></a>
            </td>
        </tr>
    }
    </tbody>
</table>
